<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="text-align: center;">21.EVOCACIÓN.PARES ASOCIADOS</h1>
  <h4>Instrucciones:</h4>
  <h4 style="text-align:justify;">
    "¿Recuerda los pares de palabras que aprendió hace un momento?"</h4>
    <br>
    <h4 style="text-align: justify;">"Voy a decirle la primera palabra de cada par y usted deberá decirme la segunda"</h4>
      <br>
     
        <h4 style="text-align: justify;">1.Elefante (vidrio) _______ <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   7.Fruta  (uva)  _______<input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio</h4>
        <h4 style="text-align: justify;">2.Cielo    (hielo)  _______ <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  8.Camión (melón)  _______<input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio</h4>
        <h4 style="text-align: justify;">3.Metal (fierro)    _______  <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9.Pantalón (blusa)  _______ <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio</h4>
        <h4 style="text-align: justify;">4.Coche (payaso)    _______  <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10.Accidente (oscuridad)  _______ <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio</h4>
        <h4 style="text-align: justify;">5.Huevo   (nuevo)   _______  <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11.Foco (coco)  _______ <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio</h4>
        <h4 style="text-align: justify;">6.Plato  (lobo)     _______   <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12.Flor (árbol)  _______ <input type="checkbox" (change)="actualizarSuma($event, 1)"> Bien <input type="checkbox" (change)="erroresSuma($event, 1)"> Error <input type="checkbox" (change)="omitirSuma($event, 1)"> Omitio</h4>
     
          
          <br>
          <h3>La suma de los valores seleccionados es: {{ sumaValores }}</h3>
          <br>
          <h3>Los errores de los valores seleccionados es: {{ malValores }}</h3>
          <br>
          <h3>Las intrusiones de los valores seleccionados es: {{ omitirValores }}</h3>
 
</body>
</html>
