<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <h1 style="text-align: center;">25.FUNCIONES MOTORAS.CAMBIO DE POSICIÓN DE LA MANO</h1>
  <h4>Instrucciones:</h4>
  <h4 style="text-align: justify;">
    "A continuación observe con cuidado los movimientos que voy a hacer con mi mano y, posteriormente, trate de
hacerlos de la misma manera"</h4>
    <br>
    <h4>Observaciones:</h4>
    <h4 style="text-align: justify;">Se realiza tres movimientos en secuencia con la mano derecha colocada sobre la mesa: puño (mano empuñada,
      con el dorso hacia arriba), filo mano extendida horizontalmente (en posición parasagital) y palma (mano ex-
      tendida con el dorso hacia arriba).</h4>
    <br>
    <h4 style="text-align: justify;">A continuación, el sujeto debe repetir los movimientos. Si no lo logra, se presenta de nuevo la misma secuencia
      hasta un total de tres intentos.</h4>
      <br>
      <h4 style="text-align: justify;">Posteriormente, con la mano izquierda se hace los mismos tres movimientos, pero en secuencia inversa a la anterior.</h4>
      <br>
      <h4 style="text-align: justify;">NOTA: No mencionar en voz alta la secuencia de los movimientos ("puño, filo, palma").</h4>
      <br>
      <h4>Calificacion:</h4>
      <h4 style="text-align: justify;">Si el sujeto realiza la tarea con la mano contraria a la utilizada por el examinador, (ejecución en espejo) se le hace
        la observación para que recurra a la mano indicada, sin que esto afecte su calificación.</h4>
        <br>
        <h4 style="text-align: justify;">Se califica la ejecución de la mano derecha y de la mano izquierda por separado, a partir de los criterios siguientes
          para cada mano:</h4>
          <br>
          <h4 style="text-align: justify;">0 = si no logra repetir la secuencia luego de tres presentaciones.</h4>
          <h4 style="text-align: justify;">1 = si repite luego de dos o tres presentaciones.</h4>
          <h4 style="text-align: justify;">2 = si repite ante una sola presentación.</h4>
          <br>
          <h4 style="text-align: justify;">La puntuación máxima posible es de 4 puntos.</h4>
          <br>
          <h4 style="text-align: justify;">Es necesario que se describa de manera clara y detallada las características de los errores cometidos por el sujeto,
            así como aquellas que hayan intervenido en la imposibilidad para su ejecución, tales como perseveraciones,
            problemas de coordinación espacial, dificultades para seguir con la secuencia correcta, etc.</h4>
            <br>
            <h4>Ejecución</h4>
            <h4 style="text-align: justify;">Derecha &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</h4>
            <h4 style="text-align: justify;">Izquierda &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</h4>
  <br>
  <form #formularioMascota="ngForm" (ngSubmit)="formularioEnviado()">
    TOTAL(4):
    <input type="text" name="total" placeholder="TOTAL" [(ngModel)]="veinticincoModel.total">
    <br><br>
    <button type="submit">Guardar</button>
  </form>
    <br>
    <br>
  
 
</body>
</html>
